/*.deleteico {
  visibility:hidden;
}
.image:hover .deleteico{
 visibility:visible;
}*/
/*.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}
image:hover .overlay {
  opacity: 1;
}

.icon {
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-trash-alt:hover {
  color: #eee;
}*/